[Unit]
Description=Prometheus Podman Exporter

[Service]
User=prometheus_podman_exporter
EnvironmentFile=/etc/sysconfig/prometheus_podman_exporter
ExecStart=/usr/bin/prometheus_podman_exporter $OPTIONS

[Install]
WantedBy=multi-user.target
